* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.light {
	--bg-color: white;
	--text-color: black;
	--nav-bg: #f7f7f9;
}

.dark {
	--bg-color: black;
	--text-color: #f7f7f9;
	--nav-bg: #2b2d41;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}
